# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
.venv/

# pytest caches
.pytest_cache/
pytest-cache-files-*/

# OS / IDE
*.log
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

# Jupyter
.ipynb_checkpoints/

*.docx
*.pdf
*.env
